@import url(/css/foundation.min.css);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap);
section#panel1 { background-color: #d53838; }
section#panel2 { background-color: #f3f3f3; }
body { font-family: 'Raleway', Helvetica, sans-serif;}
.top-bar, .top-bar ul { background: none; }